<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Appointment Confirmation</title>
</head>
<body>
    <p>Hello {{ user.full_name }},</p>
    <p>Your new appointment has been successfully created. Your appointment details are below:</p>
    <ul>
        <li><strong>Psychologist:</strong> {{ appointment.psychologist.full_name }}</li>
        <li><strong>Date:</strong> {{ appointment.appointment_date.strftime('%d-%m-%Y') }}</li>
        <li><strong>Time:</strong> {{ appointment.appointment_time.strftime('%H:%M') }}</li>
    </ul>
    <p>Your appointment has been made. You will be notified by email once your appointment is confirmed.</p>
    <br>
    <p>We wish you healthy days,<br><strong>ModeCALM Team</strong></p>
</body>
</html>
